{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="PetCad - O sistema definitivo para gestão de pets e tutores. Simples, rápido e eficiente.">
    <title>PetCad | Gestão Inteligente para o seu Negócio</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/@phosphor-icons/web"></script>
    <link rel="stylesheet" href="{% static 'petcad/css/NavBar.css' %}">
</head>
<body>
{% csrf_token %}
{% include "petcad/Navbar.html" %}
</body>
</html>
