<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NavBar</title>
    <link rel="stylesheet" href="NavBar.css">
</head>
<body>
    <header>
        <nav>
            <h1>🐾 PetCad</h1>
            <ul>
                <li><a href="" class="active">Pets</a></li>
                <li><a href="">Relatórios</a></li>
                <li><a href="">Configurações</a></li>
            </ul>
        </nav>
    </header>
</body>
</html>